
*.iml
DevOps/
target/
.idea/

.project
.settings
.springBeans
.classpath

.gitattributes

out/

# src/main/webapp/WEB-INF/lib/
src/main/WebContent/WEB-INF/classes/

#src/main/webapp/WEB-INF/lib
#!src/main/webapp/WEB-INF/lib/ojdbc8.jar
