@charset "utf-8";
/* 맞춤통계 */

/* SurveyInfo */
.SurveyInfo { position:absolute; border:#3366cc solid 3px; background:#fff; width:425px; height:400px; left:40%; top:15%;}
.SurveyInfo h4 { background:#e8f0ff url(../images/statisticsList/newlayer_bullet.png) no-repeat 10px center; padding:6px 0 7px 30px; font-family:"나눔고딕B", NanumGothic, sans-serif; font-size:16px; font-weight:normal; }
.SurveyInfo .BtnClose { position:absolute; right:10px; top:10px; background:url(../images/statisticsList/newlayer_close.png) no-repeat left 4px; padding-left:12px;}
.SurveyInfo div { height:333px; padding:10px; overflow:auto;}
.SurveyInfo div table { width:100%; border-collapse:collapse; }
.SurveyInfo div table th { background:#f4f4f4; border:#dcdcdc solid 1px; border-left:none 0; text-align:left; padding:4px 10px; white-space:nowrap; vertical-align:top; width:75px;}
.SurveyInfo div table td {border-top:#dcdcdc solid 1px; border-bottom:#dcdcdc solid 1px; text-align:left; padding:4px 5px;}

.SurveyInfo div ul li {width:175px; padding-left:7px; margin:0; float:left;}

/* 시각화콘텐츠 */
.VisualContents {}
.VisualContents li { float:left; margin-right:15px; margin-bottom:15px;}
.VisualContents li.VC03, .VisualContents li.VC06, .VisualContents li.VC09 {margin-right:0;}
.VisualContents li a { display:block; position:relative; width:220px; height:163px; padding:14px 14px 0 14px; border:#eaeaea solid 1px; background:#fafafa no-repeat center 90px;}
.VisualContents li a:hover {border:#3366cc solid 2px; background:#fff no-repeat center 89px; width:220px; height:162px; padding:13px 13px 0 13px;}
.VisualContents li.VC01 a { background-image:url(../images/customStatis/img0403_01.png);}
.VisualContents li.VC02 a { background-image:url(../images/customStatis/img0403_02.png);}
.VisualContents li.VC03 a { background-image:url(../images/customStatis/img0403_03.png); background-position:10px 75px;}
.VisualContents li.VC03 a:hover { background-position:9px 74px;}
.VisualContents li.VC04 a { background-image:url(../images/customStatis/img0403_04.png); background-position:center 95px;}
.VisualContents li.VC04 a:hover { background-position:center 94px;}
.VisualContents li.VC05 a { background-image:url(../images/customStatis/img0403_05.png); background-position:center 97px;}
.VisualContents li.VC05 a:hover { background-position:center 96px;}
.VisualContents li.VC06 a { background-image:url(../images/customStatis/img0403_06.png);}
.VisualContents li.VC07 a { background-image:url(../images/customStatis/img0403_07.png);}
.VisualContents li.VC08 a { background-image:url(../images/customStatis/img0403_08.png); background-position:center 95px;}
.VisualContents li.VC08 a:hover { background-position:center 94px;}
.VisualContents li.VC09 a { background-image:url(../images/customStatis/img0403_09.png);}
.VisualContents li a span.Title { float:left; margin-right:15px; font-size:14px; font-weight:bold; letter-spacing:-1px; color:#333;}
.VisualContents li a img { float:left;}
.VisualContents li a span.Info { position:absolute; left:15px; top:45px; width:220px; font-size:11px; color:#777;}
.VisualContents li a:hover span.Info { position:absolute; left:14px; top:44px; width:220px; font-size:11px; color:#777;}




.StudyAni { float:left; width:763px; padding:12px 0 10px 15px; background:#fafafa; border:#eaeaea solid 1px;}
.StudyAni h4 { font-size:14px; font-weight:bold; float:left; color:#333; margin:0 10px 10px 0;}
.StudyAni p { font-size:11px; color:#666; float:left; padding:4px 0 0 0; display:block;}
.StudyAni ul { float:left; position:relative; width:763px;}
.StudyAni li { float:left; width:367px; margin:0 14px 5px 0;}
.StudyAni li a { float:left; display:block; width:356px; height:23px; padding:7px 0 0 9px; background:#fff; border:#eaeaea solid 1px; position:relative; }
.StudyAni li a img { position:absolute; right:10px; top:8px;}

/* 대상별접근, 이슈별접근 */
.AccessArea { height:570px; overflow:scroll; border:#dcdcdc solid 1px; padding:15px; margin-bottom:20px;} /* 대상별접근, 이슈별 접근 영역 */

/* 통계동영상 */
.Movie { background:url(../images/customStatis/movie_title_bg.png) repeat-x left top;}
.Movie h1 {font-family:"나눔고딕", NanumGothic, sans-serif; color:#fff; font-size:12px; font-weight:normal;}
.Movie h1 img { vertical-align:middle;}
.Movie .BtnClose { position:absolute; right:15px; top:15px;}
.Movie ul {font-family:"나눔고딕", NanumGothic, sans-serif; font-size:12px; padding:20px; height:65px;}
.Movie ul li { width:25%; float:left; margin-bottom:10px;}
.Movie ul li a { background:url(../images/sub/cont_bullet3.png) no-repeat left 5px; padding-left:6px;}
.Movie ul li a:hover { color:#007c7c; text-decoration:underline;}
.Movie ul li a.M_on { color:#007c7c; text-decoration:underline;}

.Movie .MovieArea { width:966px; height:525px; position:relative; margin-left:20px;}
.Movie .MovieArea object {}

.learning_char01 { color:#376e94;}
.learning_char02 { color:#c7457d;}
.learning_char03 { color:#054733;}

.Movie .MovieArea .Subtitles { width:297px; height:523px; border:#bcbbaf solid 1px; position:absolute; right:0; top:0; overflow:auto; font-size:12px;}
.Movie .MovieArea .Subtitles dt { color:#333; padding:10px 0 8px 12px; margin-bottom:10px; font-weight:bold; background:#fde6bb;}
.Movie .MovieArea .Subtitles dd { text-indent:-40px; padding:0 0 5px 50px;}
.Movie .MovieArea .Subtitles dd span { font-weight:bold;}
.Movie .MovieArea .eight dd { text-indent:-27px; padding:0 0 5px 35px;}

/* 직접다운로드 */
.firstDown {border:0px solid #000; background:#fff; }
.firstDown .downLayer {position:absolute; width:670px; height:534px; left:5%; top:15%; padding:40px 0 0 10px; border:1px solid #5fb5dc; color:#565656; font:12px/1.5em AppleGothic,Dotum,sans-serif; margin:0; background:url('../../ext/images/directDown/layout_bg.gif') no-repeat; background-size:690px 574px}
.firstDown .downLayerLink {position:absolute; width:670px; height:435px; left:5%; top:15%;border:1px solid #5fb5dc; font:12px/1.5em AppleGothic,Dotum,sans-serif;}
/* .firstDown .downLayer {position:absolute; width:660px; height:534px; left:5%; top:15%; padding:40px 0 0 10px; border:1px solid #5fb5dc; color:#565656; font:12px/1.5em AppleGothic,Dotum,sans-serif; margin:0; background:url('../../ext/images/directDown/layout_bg.gif') no-repeat;} */
.firstDown th {padding:5px 0; text-align:left;}
.firstDown td {padding:2px 0; color:#565656;}
.firstDown td.check {height:12px; padding:5px 0; font-size:11px; line-height:20px;}
.firstDown td.check .gap {font-size:12px; color:#ccc;}
.firstDown .dataBox {width:504px; height:168px; padding:5px 0;border:1px solid #ccc; text-align:left; overflow-y:auto; font-size:13px; font-family:dotum;}
.firstDown .dataBox ul {width:300px; list-style:none; padding-left:5px; margin-top:0px; margin-left:0px;}
.firstDown td {font-size:11px; margin-top:0px;}
.firstDown td .f_red {color:#cc3333;}
.firstDown select {font-size:12px; font-family:dotum;}
.firstDown select.date {width:75px; color:#666; border:#ddd 1px solid;}

.downBtn {text-align:center; margin-top:20px;}
.downBtnLink {text-align:center; margin-top:0px;}

#close_layer img {margin:-32px 0 0 630px; position:absolute;}		
#close_layer2 img {margin:507px 0 0 630px; position:absolute;}
#close_layer3 {margin:-26px 0 0 170px; position:absolute;}
#close_layer3 img {margin:4px 0 0 0; position:absolute;}