/*! jQuery UI - v1.10.4 - 2014-08-07
/* Layout helpers
----------------------------------*/
/* 占쏙옙占�커占쏙옙 (占쏙옙占쏙옙占쏙옙 占쏙옙占쏙옙 커占쏙옙 占쏙옙占쏙옙占�占쌓댐옙占�占쌌몌옙占쏙옙繭占�.) */
.ui-jqgrid .ui-jqgrid-sortable {cursor:default;}

/* 표占쏙옙 (占쏙옙占�*/
.ui-widget-content .ui-jqgrid-hdiv {
	/*
	margin-top: -2px;	
	*/
	border-bottom:0px;
	background: #e7f4ff;
	font-weight: bold;
	color: #72777b;
}

/* 표占쏙옙 */
.ui-jqgrid .ui-jqgrid-htable th {
	border-right: 1px solid #929292;
	border-bottom:1px solid #929292;
	background: #e7f4ff;
	font-weight: bold;
	color: #000000;
}

.ui-jqgrid-bdiv .ui-state-default {
	border: 1px solid #e2e2e2;
	background: #EEFFF5;
	font-weight: bold;
	height:180px;
}

#gbox_tbl_data_view{
	border-top:1px solid #b1b1b1;
	border-right:1px solid #b1b1b1;
	border-bottom:1px solid #b1b1b1;
}

/* Pivot 占쏙옙占싱띰옙占쏙옙트 */
.ui-state-highlight {width:140px; color: #000000;}

