@charset "utf-8";

/************************************************************************
 * 파일명      : popup.css
 * 설명        : 팝업
 * 작성자      : 박수림
 * 작성일      : 2013.07.31
************************************************************************/


/* 피봇설정 */
#pop_pivotfunc {position:absolute; background:#ffffff; left:50%; top:50%; margin-left:-250px; margin-top:-260px; width:520px; height:520px; display:none; z-index: 150; border:2px solid #3366CC;}
#pop_pivotfunc2{position:relative;}

/* 부가기능설정 */
#pop_addfunc {position:absolute; background:#ffffff; left:50%; top:50%; margin-left:-200px; margin-top:-255px; width:430px; height:510px; display:none; z-index: 150; border:2px solid #3366CC;}
#pop_addfunc2 {position:relative;}

/* 주석전체보기 */
#pop_cmmtInfoAll {position:absolute; background:#ffffff; left:50%; top:50%; margin-left:-350px; margin-top:-250px; width:700px; height:500px; display:none; z-index: 150; border:2px solid #3366CC;}
#pop_cmmtInfoAll2 {position:relative;}

/* 해당주석보기 */
#pop_cmmtInfo {position:absolute; background:#ffffff; left:50%; top:50%; margin-left:-350px; margin-top:-30px; width:700px; display:none; z-index: 150; border:2px solid #3366CC;}
#pop_cmmtInfo2 {position:relative;}

/* 주소보기 */
/* 2013.12.13 url 사이즈 변경*/
/* #pop_url {position:relative; float:left; background:#ffffff; left:50%; top:50%; margin-left:-355px; margin-top:-50px; width:710px; height:100px; display:none; z-index: 150; border:2px solid #3366CC;} */
#pop_url {position:absolute; background:#ffffff; left:50%; top:50%; margin-left:-355px; margin-top:-50px; width:710px; height:100px; display:none; z-index: 150; border:2px solid #3366CC;}
#pop_url2 {position:relative;}

/* 파일다운로드(그리드) */
/* #pop_downgrid {position:absolute; background:#ffffff; left:50%; top:50%; margin-left:-225px; margin-top:-155px; width:490px; height:380px; display:none; z-index: 150; border:2px solid #3366CC;} */
#pop_downgrid {position:absolute; background:#ffffff; left:50%; top:50%; margin-left:-225px; margin-top:-255px; width:490px; height:450px; display:none; z-index: 150; border:2px solid #3366CC;}
#pop_downgrid2 {position:relative;}

/* 파일다운로드(10,000 ~ 200,000) */
#pop_downlarge {position:absolute; background:#ffffff; left:50%; top:50%; margin-left:-200px; margin-top:-195px; width:400px; height:390px; display:none; z-index: 150; border:2px solid #3366CC;}
#pop_downlarge2 {position:relative;}

/* 정렬 */
/* #pop_sort {position:absolute; background:#ffffff; width:200px; display:none; z-index: 150; border:2px solid #3366CC;}
#pop_sort2 {position:relative;} */

/* 스크랩 */
#pop_myscrap {position:absolute; background:#ffffff; left:50%; top:50%; margin-left:-250px; margin-top:-190px; width:500px; height:380px; display:none; z-index: 150; border:2px solid #3366CC;}
#pop_myscrap2 {position:relative;}
#ifr_myscrap {position:absolute; width:500px; height:330px;}

/* 선택정보 전체 보기 */
#pop_selectAll {position:absolute; background:#ffffff; left:50%; top:50%; margin-left:-310px; margin-top:-310px; width:620px; height:620px; display:none; z-index: 150; border:2px solid #3366CC;}
#pop_selectAll2 {position:relative;}
#ifrSelectAll {position:absolute; width:620px; height:570px;}
.ifr_scr2{width:620px; padding:0px; height:570px; overflow-y:auto;}

/* 조회범위 상세설정 */
#pop_detailfunc{position:absolute; background:#ffffff; left:50%; top:50%; margin-left:-370px; margin-top:-312px; width:740px; height:624px; display:none; z-index: 150; border:2px solid #3366CC;}
#pop_detailfunc2{position:relative;}
#ifrSearchDetail {position:absolute; width:740px; height:580px;}		/* 510 - 43(pop_top)*/

/* 분석 2014.01.06 */
#pop_assay {position:absolute; background:#ffffff; left:50%; top:50%; margin-left:-400px; margin-top:-220px; width:420px; height:440px; display:none; z-index: 150; border:2px solid #3366CC;}
#pop_assay2 {position:relative;}
#ifrAssayInfo {position:absolute; width:420px; height:390px;}		/* pop_assay height:440px - 40px(타이틀바) */

#pop_levelExpr {position:absolute; background:#ffffff; left:50%; top:50%; margin-left:-150px; margin-top:-200px; width:572px; height:420px; display:none; z-index: 150; border:2px solid #3366CC;}
#pop_levelExpr2 {position:relative;}
#helpClose1{cursor:pointer;}

#pop_parentLevel {position:absolute; background:#ffffff; left:50%; top:50%; margin-left:-150px; margin-top:-200px; width:475px; height:380px; display:none; z-index: 150; border:2px solid #3366CC;}
#pop_parentLevel2 {position:relative;}
#helpClose2{cursor:pointer;}

/* 레벨별전체선택안내 2016.05.26 */
#pop_classLvAllChkHelp {position:absolute; background:#ffffff; left:50%; top:50%; margin-left:-250px; margin-top:-260px; width:490px; height:420px; display:none; z-index: 150; border:2px solid #3366CC;}
#pop_classLvAllChkHelp2 {position:relative;}

/* 관련통계표 2015.07.24 */
/* #pop_relGrid {position:absolute; background:#ffffff; left:50%; top:50%; margin-left:-150px; margin-top:-200px; width:580px; color:#555;  display:none; z-index: 150; border:2px solid #3366CC; height:331px;} */
#pop_relGrid {position:absolute; background:#ffffff; left:50%; top:50%; margin-left:-225px; margin-top:-255px; width:580px; height:327px; display:none; z-index: 150; border:2px solid #3366CC;}
#pop_relGrid2 {position:relative; width:580px;}
#ifrRelationInfo {position:absolute; width:580px; height:280px;}
/* #ifr_relationInfo {position:relative; width:580px; height:280px;} */
		.relBtn {height:28px; color:#fff; font-weight:bold; border:1px solid #4cae4c; background:url('images/veiw.png') #5cb85c no-repeat 4px 6px; font-size:11; font-family:"dotum", sans-serif; padding:4px 4px 4px 20px; cursor:pointer; line-height:21px;}
#relDetail {width:525px; color:#555; padding:6px 12px; border:1px solid #ccc; height:40px; margin:5px 0 7px 0;}

/* 20190214 출처더보기 */ 
#pop_statGrid {position:absolute; background:#ffffff; left:50%; top:50%; margin-left:-225px; margin-top:-255px; width:580px; height:327px; display:none; z-index: 150; border:2px solid #3366CC;}
#pop_statGrid2 {position:relative; width:580px;}
#ifrStatInfo {position:absolute; width:580px; height:280px;}
.relBtn {height:28px; color:#fff; font-weight:bold; border:1px solid #4cae4c; background:url('images/veiw.png') #5cb85c no-repeat 4px 6px; font-size:11; font-family:"dotum", sans-serif; padding:4px 4px 4px 20px; cursor:pointer; line-height:21px;}
#relDetail {width:525px; color:#555; padding:6px 12px; border:1px solid #ccc; height:40px; margin:5px 0 7px 0;}

/* 타이틀 바 */
.pop_top {position:relative; height:40px; font-weight:bold; line-height:40px; padding-left:16px; font-size:14px; padding:3px 0 0 20px; background:#E8F0FF; color:#666;}
.pop_top .closeBtn {position:absolute; right:10px; top:1px; font-size:14px; color:#555; font-weight:normal;}

.pop_top2 {position:relative; height:20px; font-weight:bold; line-height:20px; font-size:11px; padding:3px 0 0 5px; color:#fff;}
.pop_top2 .closeBtn {position:absolute; right:10px; top:1px; font-size:12px;color:#555; font-weight:normal;}

.pop_top3 {position:relative; height:16px; line-height:16px; font-size:10px; padding:1px 0;}
.pop_top3 .closeBtn {position:absolute; right:10px; top:1px; font-size:11px;color:#555; font-weight:normal;}

.pop_top4 {position:relative; height:25px; font-weight:bold; line-height:25px; padding-left:16px; font-size:12px; padding:3px 0 0 20px; background:#9ab6dd; color:#fff;}
.pop_top4 .closeBtn {position:absolute; right:10px; top:1px; font-size:12px;color:#555; font-weight:normal;}

.pop_content {height:auto !important; height:0px; min-height:0px; margin:15px;}
.pop_content2 {height:auto !important; height:0px; min-height:0px; margin:5px;}
.pop_content3 {height:auto !important; height:0px; width:420px; min-height:0px; margin:5px; float:left;}

	.pop_title {clear:both; position:relative; height:25px;}
		.pop_title .btn_r {position:absolute; top:0; right:0;}
		.pop_title .btn_r img {padding:1px; margin-top:4px;}
	/* #sortName {overflow:hidden; text-overflow:ellipsis;} */

	.pop_title2 {clear:both; position:relative; border-bottom:1px dashed #ccc;  height:27px;}
		.pop_title2 .btn_r {position:absolute; top:0; right:0;}
		.pop_title2 .btn_r img {padding:1px; margin-top:4px;}
.ifr_scr{width:740px; padding:0px; height:560px;}
	.select_lay_Left {float:left; margin-bottom:8px;}
	.select_lay_Right {float:right; margin-bottom:8px;}
		.pop_selectBox {overflow:auto; height:230px; border:1px solid #ccc; padding:5px 10px; width:260px;}
		.pop_selectBox li{white-space:nowrap;}
	.con_lay {clear:both; border:1px solid #ccc; padding:15px; margin:0 auto;}
	.con_lay2 {clear:both; border:1px solid #ccc; padding:15px; margin:0 auto; overflow-y:auto; height:370px;}
	.con_lay3 {clear:both; border:1px solid #ccc; padding:1px; margin:0 auto; overflow-y:auto;}
	.con_lay4 {clear:both; border:1px solid #ccc; padding:5px; margin:0 auto;}

		ul.setCheck {overflow:hidden; margin-top:10px;}
		ul.setCheck li {float:left; width:50%; line-height:30px;}

		.line_lay {border:1px solid #e3e3e3; margin-top:5px; background:#fafafa; padding:7px 10px 5px 10px;}
		.line_lay span {padding:0 25px 0 5px; font-size:11px;}

		input.text {height:20px;}


	.swap_lay {float:left; width:220px;}
		.swapList {height:380px; border:1px solid #ccc; padding:0 15px;}
			.swapList li {display:block; cursor:pointer; padding:8px 0; margin:10px 0; text-align:center; background:#e5eaf1; border:1px solid #a3bad9;}

	.alignBtn {float:left; width:50px; text-align:center; padding-top:188px;}
	.alignBtn p img {margin:6px 0;}

.ifr_assay{width:830px; height:100%;}
	/*  2014.01.06 assay_lay 높이 변경 */
	.assay_lay {float:left; width:210px; height:320px; padding-top:5px;}
		/* .assayListDiv {float:left; width:195px; height:290px; border:1px solid #ccc; margin-right:10px;} */
		.assayListDiv {float:left; width:195px; height:271px; border:1px solid #ccc; margin-right:10px;}
			.assayListDiv ul {margin:10px;}
				.assayListDiv li {height:50px;}
				.assayListDiv .rightLi {height:23px;}
		/*.assayList {padding:15px; margin-right:10px;}*/
			/*.assayList li {height:30px;}*/

/* scrap 2014.01.06*/
.assay_lay2 {float:left; width:180px; height:260px; padding-top:5px;}

	.pop_title3 {clear:both; position:relative; height:2px;}
		.pop_title3 .btn_r {position:absolute; top:0; right:10px;}
		.pop_title3 .btn_r img {padding:1px; margin-top:4px;}

		.assayClass {float:right; width:400px; margin-top:5px;}

		.checkbox {float:left; width:394px; padding:0; height:28px; background:#f4f4f4; font-size:11px; border:1px solid #e8e8e8;}
		.checkbox li.left {float:left;}
		.checkbox li.right {float:right;}
		.checkbox .smallgrayBtn a {display:inline-block; padding:0 5px; line-height:20px; height:20px; border:1px solid #313c58; background:#424b63; color:#fff; font-weight:bold;}

		.assayTab {float:left; margin-top:5px; width:396px; height:30px; background:url('images/assayTabbg.gif') repeat-x 0 0; z-index:-1}
		.assayTab li {float:left; width:77px; font-size:11px; line-height:25px; height:30px; text-align:center;overflow:hidden; white-space:nowrap;text-overflow:ellipsis;vertical-align:middle;}
		.assayTab li.tab_off {cursor:pointer; height:28px; border:1px solid #ccc; background:#f4f4f4;}
		.assayTab li.tab_on {cursor:pointer; height:29px; font-weight:bold; border-left:1px solid #ccc; border-right:1px solid #ccc; border-top:1px solid #ccc; border-bottom:0px solid #fff;}
		.arrowBtn {float:left; width:396px; height:17px; text-align:right;}
		.arrowBtn img {margin-left:-1px;}

		/* .assayTabList {float:left; position:relative; margin-top:3px; border:1px solid #ccc; width:394px; height:172px; overflow:scroll;} */
		.assayTabList {float:left; position:relative; margin-top:3px; border:1px solid #ccc; width:394px; height:153px; overflow:scroll;}
		.assayTabList ul {width:600px;}
		.assayTabList li {cursor:pointer; height:23px; padding-left:10px; line-height:26px; border-bottom:1px solid #ddd; font-size:11px;}

		.scrapList {overflow:auto; width:200px; height:250px; border:1px solid #ccc; padding:5px;}
			.scrapList li {margin-left:10px; line-height:18px;}
				.scrapList li dd {margin-left:15px;}

		.innerList {margin-left:10px; font-size:11px;}

		/* .downList {height:230px; border-bottom:1px dashed #ccc; padding-bottom:10px; margin-top:10px; padding-left:10px;} */
		.downList {height:300px; border-bottom:1px dashed #ccc; padding-bottom:10px; margin-top:10px; padding-left:10px;}
			.downList li {line-height:30px;}

		.downLargeList {border-bottom:1px dashed #ccc; padding-bottom:20px; margin-top:10px;}
			.downList li {line-height:30px;}

			.boxT {width:290px; margin-left:10px; border:1px solid #ccc; float:left;}
			.boxTool {float:left;}


		.fileList {border:1px solid #a3bad9; padding:5px; margin:0px 5px;}

		.success {text-align:center; margin-top:30px; font-size:16px; font-weight:bold; }
		.explan {text-align:center; font-size:11px; margin-top:10px; padding-bottom:20px; color:#777; border-bottom:1px dashed #ccc;}

	.navi {position:relative; height:31px; padding:0 0 0 10px; border:1px solid #e7e7e7; background:#f1f1f1;}
	.h2Title {background:url('images/ico_arrow_blue.png') no-repeat 0 42%; padding:0 8px 0 7px; height:24px; margin-top:5px; margin-left:2px; color:#595959;}
	.h2Title_none {background:none; padding:0 8px 0 7px; height:24px; margin-top:5px;}
	.h3Title {background:url('images/ico_bar_orange.gif') no-repeat 0 42%; padding-left:10px; height:18px; color:#595959; font-size:11px;}
		.h3Title .point {color:#e80000; margin-left: 2px;}
	.popSearch {overflow:hidden; height:31px; padding:5px 0 0 5px;}
	 .popSearch li.text {float:left; font-size:12px; font-weight:bold; margin-top:3px;}
	 .popSearch li.compare {float:right; font-size:11px; font-weight:bold; margin-top:2px;}

/* 	.detailSelect {overflow-y:auto; height:375px; padding-top:5px; margin-top: 1px; border:1px solid #B2CCFF;} */
/* 		.detailSelect .detailPart {float:left; width:672px; margin-left: 2px;} */
/* 		.detailSelect .detailPart .selectItem {float:left; width:299px; margin-left: 2px;} */
/* 			.detailSelect .detailPart .btnAlign {float:left; width:25px; margin:0 21px; padding-top:16px;} */
/* 				.detailSelect .detailPart .btnAlign img {padding:1px;} */
.detailDiv{overflow-y:auto; position:relative; height:450px; padding:5px; margin-top: 1px; border:1px solid #B2CCFF;}
.detailSelect {float:left;}
.detailPart {float:left; position:relative; width:100%;}
.detailPart .detailListlay {position:relative; width:100%; background:#ccc;}
.detailPart .selectItem {float:left; width:300px;}
.detailPart .selectItem_left {position:absolute; top:0; left:0; width:300px; padding-bottom: 10px;}
.detailPart .selectItem_right {display:inline-block; position:absolute; top:0; left:373px;width:300px;}
.detailPart .btnAlign {float:left; width:25px; margin:0 24px; padding-top:16px;}
.detailPart .btnAlign_ab {position:absolute;  width:25px; top:16px; left:324px;}
.detailPart .btnAlign img, .detailPart .btnAlign_ab img {padding:1px;}


/*조회범위 상세설정 시점*/
.h3Title_none {background:none; height:18px;}
.detailTab {margin-bottom:8px; height:28px;}
.detailTab li {float:left; cursor:pointer; width:83px; height:21px; padding-top:5px; text-align:center; border:1px solid #ccc; margin-right:2px; background:#f4f4f4;}
.detailTab li.tab_on {cursor:pointer; height:21px; padding-top:5px; background:#fff; border:1px solid #038383;}

/* etc */
.bu_circle {height:22px; padding:3px 0 0 17px; background:url('images/ico_arrGreen.gif') no-repeat 0 4px; font-weight:bold; color:#777;}
.bu_circle2 {width:143px; height:22px; padding:3px 3px; font-weight:bold; color:#777; background:url('images/ico_arrGreen.gif') no-repeat 0 4px;}
.bu_circle3 {height:22px; padding:3px 0 0 17px; background:url('images/ico_arrGreen.gif') no-repeat 0 4px; font-weight:bold; color:#777;}
.bu_circle4 {width:143px; height:22px; padding:3px 0 0 17px; background:url('images/ico_arrGreen.gif') no-repeat 0 4px; font-weight:bold; color:#777;}
.bu_circle5 {height:22px; padding:3px 3px; font-weight:bold; color:#777;}
.bu_circle6 {width:260px;overflow:hidden; white-space:nowrap;text-overflow:ellipsis; height:22px; padding:3px 0 0 17px; background:url('images/ico_arrGreen.gif') no-repeat 0 4px; font-weight:bold; color:#777;}
.line_b {border-bottom:1px solid #ccc; padding-bottom:3px;} /* bottom 라인 */
.f_point {color:#ef0000; font-size:11px; line-height:25px; height:30px;}
.h2_title {color:#ffa534; font-weight:bold; vertical-align:top;}
.h2_title .name {color:#0000cc;}

.text_con {padding:3px 0 0 24px; line-height:160%; margin-bottom:10px;}
.text_con2 {overflow:hidden; margin-top:10px;}
	.text_con2 dt {float:left; width:3%;}
	.text_con2 dd {float:right; width:97%; line-height:160%;}
.text_con3 {padding:3px; line-height:160%; margin-bottom:5px;}

.tree { overflow:auto; width:200px; height:230px; border:1px solid #ccc; padding:5px;}
.tree img { vertical-align:middle;}
.tree ul li {line-height: 1.5em;}

/* 바로가기 css 추가 1227*/
.shortLay {height:71px; padding:15px 15px 0 15px; border:1px solid #b3c2e0; background:url('images/shortcutBg.gif') repeat-x 0 0; color:#777;}
	.shortLay .text {padding:3px 0 0 8px;}
	.shortLay .goBtn {text-align:right; margin-top:5px;}
.arr_blue {padding-left:18px; background:url('images/bu_circle.png') no-repeat 0 1px; font-weight:bold; color:#777;}

/* 분석 구성비 기존자료*/
.assaySelect1 {padding-top:13px; padding-bottom:4px;}
.assaySelect2 {font-weight:bold; color:#777;}
.assaySelect3 {border:1px solid silver; padding-top:0px; margin-bottom:4px; margin-left:430px; margin-right:5px;}