@charset "utf-8";

/************************************************************************
 * 파일명      : base.css
 * 설명        : 기본_공통
 * 작성자      : 박수림
 * 작성일      : 2013.07.15
************************************************************************/

/* 기본  */
* {margin:0; padding:0;}
html {height:100%; font-family:dotum;}
body {line-height:140%; font-size:0.75em;  font-family:dotum;}
pre, div, ul, ol, dl, p, td, th, input, textarea, select {font-family:dotum; font-size:12px;}
table {border-collapse:collapse; border-spacing:0; width:100%;}
img, fieldset {border:0 none; vertical-align:middle;}
h1,h2,h3,h4,h5,h6 {font-size:100%; font-weight:normal;}
ul, ol, li, dl, dt, dd {list-style:none; margin:0; padding:0;} /* 블릿감춤 */


/* Link */
a {text-decoration:none; color:#585858;}
a:hover, a:active, a:focus {text-decoration:none; color:#434343;}
.hideLink {color:#D2D2D2;}
.noLinkInquire {color:#585858;}


/* contents*/
#header {padding:10px 0px;}

h1.title {font-weight:bold; width:950px; text-align:center; font-size:16px; line-height:30px;}

		.icoalign {text-align:right; margin-bottom:8px;}
.cont_detail{float:left; top:50px;}
		.print {float:left;}
			.print table {table-layout:fixed; margin:0px; width:100px; border:10px; margin:0 0 15px 0;}
				.print table tr th {padding:3px 3px 0 0; background:#ecead9; text-align:left;}
					.print table tr th span{float:left;width:18px}
					/*이규정 수정*/
					.print table tr th span.text{width:147px; word-wrap:break-word;}
					.print table tr th.colHead-first {border-top:1px solid #8c96a0; border-right:1px solid #8c96a0; border-bottom:1px solid #8c96a0; border-left:1px solid #8c96a0; background:#dceed8; font-weight:normal;}
					.print table tr th.colHead-last {border-top:1px solid #8c96a0; border-right:1px solid #8c96a0; border-bottom:1px solid #8c96a0; border-left:1px solid #8c96a0; background:#dceed8; font-weight:normal;}
					.print table tr th.rowHead {border-top:1px solid #8c96a0; border-right:1px solid #8c96a0; border-bottom:1px solid #8c96a0; border-left:1px solid #8c96a0; background:#b0e4ce; text-align:left;}
				.print table tr td {padding:3px 3px 0 0; text-align:right;}
					.print table tr td span{float:left;width:18px;}
					/*이규정 수정*/
					.print table tr td span.text{float:right;width:147px;}
					.print table tr td span.val{width:97px;word-wrap:break-word;}
					.print table tr td.first {border-top:1px solid #8c96a0; border-left:1px solid #8c96a0; border-right:1px solid #8c96a0; background:url('images/ico_arrow.png') #f6f7f7 no-repeat 10px 5px; text-align:left;}
					.print table tr td.first-end {border-top:1px solid #8c96a0; border-left:1px solid #8c96a0; border-right:1px solid #8c96a0; border-bottom:1px solid #8c96a0; background:url('images/ico_arrow.png') #f6f7f7 no-repeat 10px 5px; text-align:left;}
					.print table tr td.merge {border-right:1px solid #8c96a0; border-left:1px solid #8c96a0; background:url('images/ico_arrow.png') #f6f7f7 no-repeat 10px 5px; text-align:left;}
					.print table tr td.merge-end {border-right:1px solid #8c96a0; border-left:1px solid #8c96a0; border-bottom:1px solid #8c96a0; background:url('images/ico_arrow.png') #f6f7f7 no-repeat 10px 5px; text-align:left;}
					.print table tr td.value {border-top:1px solid #8c96a0; border-right:1px solid #8c96a0; border-bottom:1px solid #8c96a0;}
					.print table tr th.sortRowHead {text-align:center; border-right:1px solid #8c96a0; background:#b0e4ce; height:10px; padding:2px;}
					.print table tr th.sortColHead {text-align:center; border-right:1px solid #8c96a0; border-bottom:1px solid #8c96a0; background:#dceed8; height:10px; padding:0px;}
	  	
.Selectable1 {width:170px;}
.Selectable2 {width:120px;}

